Package: mrhat-bq25622
Version: 0.5.4
Maintainer: Effective Range Kft.
Architecture: armhf
Description: Device driver and device tree overlay for the TI BQ25622 charger located on Effective-Range MrHAT v1 family of extension hats
